.ChoosePizzaCaption {

}

.ChoosePizzaCaptionText {
    color: #000;
    text-align: center;
    font-family: Alegreya; /*Не знаю как подгрузить*/
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: 1px;
}