
.DeliveryAndPayPizza {
    background: #F8F6F3;
    /*width: 1920px;*/
    height: 387px;
    flex-shrink: 0;
    top: 3312px;
}

.DeliveryAndPayPizzaLabel {
    color: #000;
    text-align: center;
    font-family: Alegreya; /*Не знаю как подгрузить*/
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: 1px;
}

.DeliveryAndPayPizzaOrderDeliveryPay {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 5px 0px rgba(199, 193, 168, 0.30);
    width: 416px;
    height: 144px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;

}

.DeliveryAndPayPizzaOrderDeliveryPayText {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.DeliveryAndPayPizzaOrderDeliveryPayTextDescription {
    display: flex;
    width: 264px;
    flex-direction: column;
    color: #000;
    font-family: Roboto; /*Не знаю как подгрузить*/
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.DeliveryAndPayPizzaOrderDeliveryPayTextHeader {
    display: flex;
    width: 264px;
    flex-direction: column;
    color: #000;
    font-family: Alegreya; /*Не знаю как подгрузить*/
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
}

.DeliveryAndPayPizzaSteps {
    display: flex;
    justify-content: space-around;
    align-items: center;
}