.Promotion {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.PromotionPreparation {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.PromotionPreparationFrame {
    width: 314px;
    height: 314px;
    background: #D8D8D8;
}

.PromotionPreparationText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.PromotionPreparationTextCaption {
    width: 416px;
    color: #000;
    font-family: Alegreya; /*Не знаю как добавить шрифт*/
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 125% */
}

.PromotionPreparationTextDescription {
    width: 416px;
    color: #000;
    font-family: Roboto; /*Не знаю как добавить шрифт*/
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
}

#Preparation {
    background: url("../../../../../../../public/images/PromotionPreparation.png");
}

#Ingradients {
    background: url("../../../../../../../public/images/PromotionIngradients.png");
}

#Delivery {
    background: url("../../../../../../../public/images/PromotionDelivery.png");
}