.FollowUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*width: 1920px;*/
    /*height: 922px;*/
    flex-shrink: 0;
}

.FollowUsProposal {
    color: #000;
    text-align: center;
    font-family: Alegreya; /*Не знаю как добавить шрифт*/
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 112px;
}

.FollowUsAdress {
    color: #848A9A;
    text-align: center;
    font-family: Alegreya; /*Не знаю как добавить шрифт*/
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    margin: 0;
    margin-top: 13px;
    margin-bottom: 46px;
}

.FollowUsPics {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 0;
    margin-left: 462px;
    margin-right: 462px;
}

.FollowUsPics > div {
    margin: 0;
}

.FollowUsPics11 {
    background: url("../../../../../public/images/FollowUs11.png") no-repeat;
    width: auto;
    height: 384px;
    flex-shrink: 0;
}

.FollowUsPics12 {
    background: url("../../../../../public/images/FollowUs12.png") no-repeat;
    width: auto;
    height: 384px;
    flex-shrink: 0;
}

.FollowUsPics13 {
    background: url("../../../../../public/images/FollowUs13.png") no-repeat;
    width: auto;
    height: 384px;
    flex-shrink: 0;
}

.FollowUsPics14 {
    background: url("../../../../../public/images/FollowUs14.png") no-repeat;
    width: auto;
    height: 384px;
    flex-shrink: 0;
}

.FollowUsPics15 {
    background: url("../../../../../public/images/FollowUs15.png") no-repeat;
    width: auto;
    height: 384px;
    flex-shrink: 0;
}

.FollowUsPics21 {
    background: url("../../../../../public/images/FollowUs21.png") no-repeat;
    width: auto;
    height: 384px;
    flex-shrink: 0;
}

.FollowUsPics22 {
    background: url("../../../../../public/images/FollowUs22.png") no-repeat;
    width: auto;
    height: 384px;
    flex-shrink: 0;
}

.FollowUsPics23 {
    background: url("../../../../../public/images/FollowUs23.png") no-repeat;
    width: auto;
    height: 384px;
    flex-shrink: 0;
}

.FollowUsPics24 {
    background: url("../../../../../public/images/FollowUs24.png") no-repeat;
    width: auto;
    height: 384px;
    flex-shrink: 0;
}

.FollowUsPics25 {
    background: url("../../../../../public/images/FollowUs25.png") no-repeat;
    width: auto;
    height: 384px;
    flex-shrink: 0;
}