.ChoosePizza {

}

.ChoosePizzaSamplesCaption {
    width: 264px;
    color: #000;
    text-align: center;
    font-family: Alegreya; /*Не знаю как подгрузить*/
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px; /* 125% */
}

.ChoosePizzaSamplesButton {
    width: 240px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #E52D2D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ChoosePizzaSamplesButtonCaption {
    color: #FFF;
    font-family: Alegreya;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.ChoosePizzaSamplesDescription {
    width: 264px;
    color: #848A9A;
    text-align: center;
    font-family: Roboto; /*Не знаю как подгрузить*/
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.ChoosePizzaSamplesSize {

}

.ChoosePizzaSamplesSizeChoose {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #EFF0F1;
}

.ChoosePizzaSamplesSizeChooseGray, #GrayButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #EFF0F1;
}

.ChoosePizzaSamplesSizeChooseTextGray, #GrayText {
    width: 58px;
    color: #82909F;
    text-align: center;
    font-family: Roboto; /*Не знаю как подгрузить*/
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 150% */
}

.ChoosePizzaSamplesSizeChooseWhite, #WhiteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #FFF;
}

.ChoosePizzaSamplesSizeChooseTextBlack, #BlackText {
    color: #000;
    text-align: center;
    font-family: Roboto; /*Не знаю как подгрузить*/
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 150% */
}

.ChoosePizzaSamplesPrice {
    width: 264px;
    color: #000;
    text-align: center;
    font-family: Roboto; /*Не знаю как подгрузить*/
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.ChoosePizzaSamplesMatrix {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ChoosePizzaSamples {
    display: grid;
    grid-template-columns: repeat(4, auto);
    flex-wrap: wrap;
}

.ChoosePizzaSample {
    width: 304px;
    height: 540px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 5px 0px rgba(165, 169, 176, 0.30);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.ChoosePizzaSamplesTopInside {
    width: 240px;
    height: 240px;
    flex-shrink: 0;
    border-radius: 4.013px;
    background: #FFF;
    display: grid;
    justify-content: center;
    align-items: center;
}

.ChoosePizzaSamplesTopInsideCircles {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    z-index: 0;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    align-items: center;
}

.ChoosePizzaSamplesTopInsideSVG {
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.00);
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-items: center;
    align-items: center;
}

.ChoosePizzaSamplesTopInsideSVGPizza {
    width: 183.699px;
    height: 183.699px;
    flex-shrink: 0;
    margin-left: 12px;
    margin-top: 10px;
    background-repeat: no-repeat;
}