.FooterDesktop {
    flex-shrink: 0;
    background: #000;
    display: grid;
    grid-template: 'FooterLeft FooterRight';
    width: 1920px;
}

.FooterLeft {
    grid-area: FooterLeft;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.FooterPic {
    width: 112.36px;
    height: 51.838px;
    flex-shrink: 0;
    grid-area: FooterPic;
}

.FooterPhone {
    display: inline-flex;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    grid-area: FooterPhone;
}

.FooterPhoneNumber {
    color: #FFF;
    font-family: Alegreya; /*Не знаю как загрузить шрифт*/
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
}

.FooterPhoneOperation {
    color: #FFF;
    font-family: Roboto; /*Не знаю как загрузить шрифт*/
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.FooterPic {
    width: 112.36px;
    height: 51.838px;
    flex-shrink: 0;
}

.FooterRight {
    color: #FFF;
    font-family: Roboto; /*Не знаю как загрузить шрифт*/
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    grid-area: FooterRight;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
}